body {
  font-family: "Poppins", sans-serif;
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 20px;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
}

.grid-item {
  height: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 100%;
}
